{% extends 'base.html' %}
{% block contents %}
<head>
<style>
.paris{
    width: 850px;
    float: left;
}
 #txt{
    padding: 25px;
    margin-left: 850px;
} 
h1{
    font-size: 50px;
    font-weight: 600;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p,h5{
    font-family: 'Times New Roman', Times, serif;
}
h5{
    font-weight: bold;
}
</style>
</head>
<body>
    <img src="https://images.unsplash.com/photo-1493707553966-283afac8c358?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"  class="paris" >
    <div id="txt">
    <h1>일상에서 <br>벗어나고 <br>싶은가요?</h1>
    <br>
    <h5>유럽이 당신을 기다리고 있습니다</h5>
    <br>
    <p>
            여행은 과거에 대한 후회와 아직 오지 않은 미래에 대한 불안으로부터 우리를 지켜주는 힘이기도 하며, 인류의 속성이기도 하다. 철학자 가브리엘 마르셀은 인류를 여행하는 인간으로 정의하기도 했다. 앉은 자리에서 모든 정보에 접속 가능한 현대에 이르러서도 ‘오버투어리즘’이라는 말이 생겨날 정도로 여행 인구는 멈출 기색 없이 증가하고 있다. 그 이유는 무엇일까. 일상의 장소를 벗어나 생생하고 색다른 경험을 하길 바라는 마음, 여러 가지 일들로 번잡해진 머리를 비우고 먼 곳에서 홀로 휴식을 취하고픈 마음은 우리를 ‘여행하는 인간’으로 만든다.
    </p>
</div>
</body>
{% endblock %}