{% extends 'base.html' %}
{% block contents %}

<head>

    <style>
        h2 {
            font-weight: bold;
        }

        img {
            width: 800px;
        }
    </style>
</head>

<body>


    <div class="card mb-3">
        <img src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/45226/278150_large_1539928658.jpg?1539928658"
            class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title">세비야 & 론다 별밤 야경 패키지투어</h2>
            <p class="card-text">★‘론다는 낮에도 좋은데 밤이 더 좋아’
                모든 여행객이 입을 모아 하는 이야기지요.
                이 작은 도시에 매년 많은 여행객이 찾는 이유도 론다 특유의 낭만 때문이 아닐까 싶어요.
                <br>
                하지만 론다에서 세비야 가는 시외버스 막차는 오후 6시 (좌절)
                론다 야경을 보기에는 불가한 일정이지요.
                그렇다면 정답은? 세비야에서 출발하는 론다별밤투어!
            </p>
            <a href="https://www.myrealtrip.com/offers/45226" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">가우디의 인생극장 및 건축물 투어</h2>
            <p class="card-text">스페인 순위 1위! 후기가 말해줍니다. 직접 확인해보세요!!
                <br>
                시내버스, 지하철 모두 만석이라 서서 가야하고, 소매치기 등 신경 쓸 것이 많습니다.
                전용버스로 하루는 편안하게 여행하시고 체력과 시간을 아끼세요
                <br>
                저질체력소유자, 가족여행, 커플여행 강추하는 투어입니다.

            </p>
            <a href="https://www.myrealtrip.com/offers/27814" class="btn btn-primary">Go somewhere</a>
        </div>
        <img src="https://d2ur7st6jjikze.cloudfront.net/offer_photos/27814/178338_large_1525778285.jpg?1525778285"
            class="card-img-top" alt="...">
    </div>
</body>
{% endblock %}