{% extends 'base.html' %}
{% block contents %}
<head>
    
        <style>
            img{
                width: 410px;
                height: 280px;
            }
            .photo{
                margin-top:15px;
                margin-left: 20px;
            }
        </style>
</head>

<body>
        
    <div class="photo">
    <img src="http://blogfiles.naver.net/20130116_178/jwsh88_1358309755735F77E2_JPEG/%B8%B6%B5%E5%B8%AE%B5%E5_%B8%B6%BF%E4%B8%A3%B1%A4%C0%E5_1.jpg"  alt="...">
    <img src="http://blogfiles.naver.net/MjAxODA1MjFfMTYx/MDAxNTI2ODg5Njc4NjEy.a0ctHXKpU26GgzNfPyTG3A0rtbIirk_Th1-VpzIv9Y8g.XvvqKrnuIKZsd9IJIeM3tsoZ658RxF_aOih59S76HDIg.JPEG.jaworim1/11.jpg"  alt="...">
    <img src="http://blogfiles.naver.net/20141007_238/redcapstory_1412656687918BTUzA_JPEG/%B8%B6%B5%E5%B8%AE%B5%E5.jpg"  alt="...">
    <img src="http://blogfiles.naver.net/20141016_158/bangcaca_1413400788065J7VcP_JPEG/IMG_8777.JPG"  alt="...">
    <img src="http://blogfiles.naver.net/MjAxNzExMTlfMTUg/MDAxNTExMDc1MjM2NTQx.wbVVLrRscmxhe-bKY2YGbD7fPB2J-IllSTSRjlQDOR8g.CdXFQAVIVzs9CCVOOXYR88PKBU_Ir7uXeo2sveSY6kIg.JPEG.leimkorea2/%BF%A1%BD%BA%C5%D7%C6%BD%C8%AD%C0%E5%C7%B0_%B0%F8%BD%C4%BC%F6%C0%D4%BF%F8_%B6%F3%C0%D3%C4%DA%B8%AE%BE%C6_%BD%BA%C6%E4%C0%CE%C1%A6%C1%B6.jpg"  alt="...">
    <img src="http://blogfiles.naver.net/20151015_22/travelhan_1444899699953x9mmQ_JPEG/4840615879_246deb2504_o.jpg"  alt="...">
</div>
</body>
{% endblock %}